body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
}

button {
    margin-bottom: 10px;
}

.container-md {
    border: 2px solid rgb(160, 160, 160);
    border-radius: 15px;
}